/* Custom */
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:wght@400;600;700&display=swap");

body {
  align-items: center;
  background-color: #0f172a;
  display: flex;
  font-weight: 400;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

#new-quote:hover,
#tweet-quote:hover {
  background-color: #fff;
  color: #0f172a;
}

#quote-text {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

/* 
  iPhone 4 and 4S
*/

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    font-size: x-small;
    justify-content: center;
  }
}
